<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <p>login works! {{name}}</p>
    /////////////////////////////////////////////////////
    <a href="" routerLink="home"><button>go to next page</button></a>
    <a href="" routerLink="information/3"><button>next page with Id</button></a>
    ////////////////////////////////////////////////////
    <form action="" style="width: 30%;">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Login</button>
    </form>
    <br>
    ////////////////////////////////////////////////
    <br>
    <div>
        <form (submit)="addHeroes(hero.value)">
            <label for="hero">Add Hero: </label>
            <input type="text" name="hero" #hero>
            <button type="submit">Add</button>
        </form>
        <ul *ngFor="let hero of heroes; let i = index"><li>{{hero}}</li></ul>
    </div>
    <br>
    ////////////////////////////////////////////////
    <br>
    <form action="">
        <label for="name"><b>Name: </b></label>
        <input type="text" [(ngModel)]="name" name="name">
    </form>
    <br>
    ////////////////////////////////////////////////
    <br>
    <a *ngFor="let user of userList" [routerLink]="['information', user.id]">
        <p>{{user.userId}} {{user.id}} {{user.title}}</p>
    </a>
    <!-- {{usr}} -->
    <br>
    ////////////////////////////////////////////////
    <br>
</body>
</html>